.infoCardContainer--vintage {
    background-color: #EDCFD1;
    margin:0 auto;
    padding: 0;
    max-width: 1260px;
    color:black;
    font-weight: bold;
  }
  .infoCardContainer--metal{
      color: #e1e1e1;
  }